[defaults]
remote_user=sandy
forks=5
inventory=/home/sandy/ansible/inventory
roles_path=/home/sandy/ansible/roles:/usr/share/ansible/roles/
collections_path=/home/sandy/ansible/collections:/usr/share/ansible/collections
[privilege_escalation]
become=True
become_ask_pass=False
become_method=sudo
become_user=root
